body {
    margin: 0;
    padding: 0;
}

.min-vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-white {
    color: #fff !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.container {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.flex-grow-1 {
    flex-grow: 1;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
